{% extends "paragraph.html.twig" %}
{#
/**
 * @file
 * Theme override for the card paragraph type.
#}
{% block content %}
  {{ attach_library('alkaline/card') }}
  <div{{ attributes.addClass("card") }}>

    {% if content.field_image|render %}
      <div class="image">
        {{ content.field_image }}
      </div>
    {% endif %}

    {% if content.field_text|render or content.field_link|render %}
      <div class="card-section">
        {{ content.field_text }}
        {{ content.field_link }}
      </div>
    {% endif %}

  </figure>
{% endblock %}
