{#
/**
 * @file
 * Theme override for a main view template.
 */
#}
<div{{ attributes.addClass("view") }}>

  {% if title or header %}
    <header>

    {{ title_prefix }}
    {% if title %}
      <div class="row">
        <div class="title-bar">
          <h2>
            {{ title }}
          </h2>
        </div>
      </div>
    {% endif %}
    {{ title_suffix }}

    {% if header %}
      <div class="row">
        <div>
          {{ header }}
        </div>
      </div>
    {% endif %}

    </header>
  {% endif %}

  {% if exposed %}
    <div class="row">
      <div>
        {{ exposed }}
      </div>
    </div>
  {% endif %}

  {% if attachment_before %}
    <div class="row">
      <div>
        {{ attachment_before }}
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div>
      {% if rows %}
        {{ rows }}
      {% elseif empty %}
        {{ empty }}
      {% endif %}
    </div>
  </div>

  {% if pager %}
    {{ pager }}
  {% endif %}

  {% if attachment_after %}
    <div class="row">
      <div>
        {{ attachment_after }}
      </div>
    </div>
  {% endif %}

  {#
  {% if more %}
    <div class="row">
      <div>
        {{ more }}
      </div>
    </div>
  {% endif %}
  #}

  {% if footer %}
    <div class="row">
      <div>
        {{ footer }}
      </div>
    </div>
  {% endif %}

  {#
  {% if feed_icons %}
    <div class="row">
      <div>
        {{ feed_icons }}
      </div>
    </div>
  {% endif %}
  #}

</div>
