{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{{ attach_library('alkaline/card') }}
{%
  set classes = [
    'card',
  ]
%}
<div{{ attributes.addClass(classes) }}>

  <a href="{{ url }}" rel="bookmark">
    {{ content.field_image }}
  </a>

  <div class="section">
    <h3{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">
        {{ label }}
        </a>
    </h3>

    {# <a class="button" href="{{ url }}">View</a> #}
  </div>

</div>
