{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{{ attach_library('alkaline/article') }}
<article{{ attributes }}>
  <div class="row">
    <div>
      <blockquote class="title-bar">
        {{ content|without('links') }}
      </blockquote>

      <footer>
        <address>
          {{ label }}
        </address>
      </footer>

      {{ content.links }}
    </div>
  </div>
</article>
