{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'card wide',
    'node',
    node.bundle|clean_class,
    node.isPromoted() ? 'promoted',
    node.isSticky() ? 'sticky',
    not node.isPublished() ? 'unpublished',
    view_mode|clean_class,
  ]
%}
{{ attach_library('alkaline/card') }}
{{ attach_library('alkaline/article') }}
<article{{ attributes.addClass(classes) }}>

  {% if content.field_image.value %}
    <figure>
      {{ content.field_image }}
    </figure>
  {% endif %}

  <section>

    {% if not page %}
      <h2{{ title_attributes }}>
        {{ label }}
      </h2>
    {% endif %}

    {{ content|without('field_image') }}
    
  </section>

</article>
