{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{{ attach_library('alkaline/card') }}
{%
  set classes = [
    'card',
  ]
%}
<div{{ attributes.addClass(classes) }}>

  {{ content.field_image }}

  <section>
    <h3{{ title_attributes }}>
      {{ label }}
    </h3>

    {# <a class="button" href="{{ url }}">View</a> #}
  </section>

</div>
