{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{{ attach_library('alkaline/article') }}
{%
  set classes = [
    'teaser',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  <header>
    {{ content.field_image }}

    <div class="title-bar">
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    </div>
  </header>

  <section>

    {% if display_submitted %}
      <footer class="node__meta">
        {{ author_picture }}
        <div{{ author_attributes.addClass('node__submitted') }}>
          {% trans %}{{ author_name }}{{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      </footer>
    {% endif %}

    {{ content|without('field_image') }}

  </section>

</article>
