<ul {{ attributes }}>
  {% for item in items %}
    <li {{ item.attributes }}>
      {% if item.href %}
        <a href="{{ item.href }}">
          {{ item.content }}
        </a>
      {% else %}
        {{ item.content }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
