  <div class="layer header fixed" role="banner">
    <div>

      {% if page.header %}
      <div class="region header">
        {{ page.header }}
      </div>
      {% endif %}

      {% if page.header_left or page.header_right %}
      <div class="super-region header">

        {% if page.header_left %}
        <div class="region header header-left">
          {{ page.header_left }}
        </div>
        {% endif %}

        {% if page.header_right %}
        <div class="region header header-right">
          {{ page.header_right }}
        </div>
        {% endif %}

      </div>
      {% endif %}

      {% if page.navbar %}
      <div id="navbar" class="region navbar" data-toggler=".active">
        {{ page.navbar }}
      </div>
      {% endif %}

      {% if page.navbar_top or page.navbar_bottom %}
      <div id="navbar" class="super-region navbar" data-toggler=".active">

        {% if page.navbar_top %}
        <div class="region navbar navbar-top">
          {{ page.navbar_top }}
        </div>
        {% endif %}

        {% if page.navbar_bottom %}
        <div class="region navbar navbar-bottom">
          {{ page.navbar_bottom }}
        </div>
        {% endif %}

      </div>
      {% endif %}

      <div class="region buttons">
        <div class="block">
          <button id="nav-button" data-toggle="navbar">
            <svg class="icon">
              <use xlink:href="#bars" />
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>
