{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{{ attach_library('alkaline/article') }}
{{ attach_library('alkaline/page_title') }}
{{ attach_library('alkaline/banner') }}
<article{{ attributes }}>
{% if page %}

  {% if banner_id %}
    <header id="{{ banner_id }}" class="banner stacked">
      <div>
        <h1 class="page-title">
          {{ label }}
        </h1>

        {{ content.field_lead }}
      </div>
    </header>
    {{ css }}
  {% else %}
    <header>
      <div class="title-bar">
        <h1 class="page-title">
          {{ label }}
        </h1>
      </div>

      {{ content.field_lead }}
    </header>
  {% endif %}

{% else %}
  <header>
    <div class="title-bar">
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    </div>
  </header>
{% endif %}

  {% if display_submitted %}
    <footer class="media-object">
      {{ author_picture }}
      <address{{ author_attributes.addClass('node__submitted') }}>
        {% trans %}{{ author_name }}{{ date }}{% endtrans %}
        {{ metadata }}
      </address>
    </footer>
  {% endif %}

  <div class="body">
    {{ content|without('field_lead') }}
  </div>

</article>
