{#
/**
 * @file
 * Theme override to display a common block.
 */
#}
{{ attach_library('alkaline/article') }}
<div{{ attributes.addClass('common') }}>
  <article>

    <div class="title-bar">
      <h2{{ title_attributes }}>
        {{ label }}
      </h2>
    </div>

    <div class="body">
      {{ content }}
    </div>

  </article>
</div>
