{{ attach_library('alkaline/banner') }}
<div{{ attributes.addClass('block') }}>

  {{ title_prefix }}
  {{ title_suffix }}

  <figure class="banner callout">
    <figcaption>
      {% block content %}
        {{ content }}
      {% endblock %}
    </figcaption>
  </figure>
</div>

