{{ attach_library('alkaline/article') }}
<div{{ attributes.addClass('block basic') }}>
  <article>

    {{ title_prefix }}
    {% if label or more_link %}
      <div class="title-bar">
        {% if label %}
          <h2{{ title_attributes }}>{{ label }}</h2>
        {% endif %}
        {% if more_link %}
          {{ more_link }}
        {% endif %}
      </div>
    {% endif %}
    {{ title_suffix }}

    <div class="body">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </article>
</div>
