{#
/**
 * @file
 * Theme override to display a block.
 */
#}
<div{{ attributes.addClass("block") }}>

  {{ title_prefix }}
  {% if label or more_link %}
    <div class="title-bar">
      {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% endif %}
      {% if more_link %}
        {{ more_link }}
      {% endif %}
    </div>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</div>
