{#
/**
 * @file
 * Theme override to display a common block.
 */
#}
{{ attach_library('alkaline/article') }}
<article{{ attributes }}>

  <div class="title-bar">
    <h2{{ title_attributes }}>
      {{ label }}
    </h2>
  </div>

  <div class="body">
    {{ content }}
  </div>

</article>
