{#
/**
 * @file
 * Theme override to display a block.
 */
#}
{{ attach_library('alkaline/location') }}
{%
  set classes = [
    'block',
    'location',
  ]
%}
<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label or more_link %}
    <div class="title-bar">
      {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% endif %}
      {% if more_link %}
        {{ more_link }}
      {% endif %}
    </div>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {% if content %}
      {% if content.field_map %}
      <div>
        <section>
          {{ content|without('field_map') }}
        </section>
        <section>
          {{ content.field_map }}
        </section>
      </div>
      {% else %}
      <section>
        {{ content }}
      </section>
      {% endif %}
    {% endif %}
  {% endblock %}
</div>
