{#
/**
 * @file
 * Theme override for a field.
 */
#}
{%
  set classes = [
    'field',
    field_name|clean_class,
    field_type|clean_class,
    'label-' . label_display,
  ]
%}
{%
  set label_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% for item in items %}
    <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
  {% endfor %}
{% else %}
  {# 
    Display the label and field value as block elements if label is above,
    or display the label and field value as inline elements if label is inline.
  #}
  <div{{ attributes.addClass(classes) }}>
    {% if label_display == 'above' %}
      <h3{{ label_attributes.addClass(label_classes) }}>
        {{ label }}
      </h3>
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
    {% else %}
      <span{{ label_attributes.addClass(label_classes) }}>
        {{ label }}:
      </span>
      {% for item in items %}
        <span{{ item.attributes.addClass('field__item') }}>{{ item.content }}</span>
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
