{#
/**
 * @file
 * Theme override for a list of tags.
 *
 * The tags are rendered as an inline list of buttons.
 * @see sass/components/tags.scss
 */
#}
{{ attach_library('alkaline/tags') }}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
<div class="tags">
  {% if not label_hidden %}
    <h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
  {% endif %}
  <ul{{ attributes.addClass(classes, 'field__items') }}>
  {% for item in items %}
    <li{{ item.attributes.addClass('field__item') }}>
      {{ item.content }}
    </li>
  {% endfor %}
  </ul>
</div>