{#
/**
 * @file
 * Theme override for a Gallery image.
 *
 * The image items are rendered as a Carousel, with Next and Previous buttons
 * only.
 *
 * @todo Add support for optional slide selector controls.
 */
#}
{{ attach_library('alkaline/carousel') }}
<div class="carousel {# orbit #}" aria-label="{{ label }}" data-orbit data-use-m-u-i="false">
  <div>

    <div class="controls">
      <button class="previous orbit-previous">
        <svg aria-hidden="true" class="icon">
          <use xlink:href="#caret-left" />
        </svg>
      </button>
      <button class="next orbit-next">
        <svg aria-hidden="true" class="icon">
          <use xlink:href="#caret-right" />
        </svg>
      </button>
    </div>

    <ul class="orbit-container">
    {% for item in items %}
      <li class="orbit-slide{{ loop.index == 1 ? ' is-active' }}">
        <figure>
          {{ item.content }}
          {% if item.caption %}
            <figcaption>
              {{ item.caption }}
            </figcaption>
          {% endif %}
        </figure>
      </li>
    {% endfor %}
    </ul>

  </div>
</div>