<div class="page maintenance">

  <main class="layer main" role="main">

    <section id="content" class="region content">

      <div class="block">
        <div class="branding">
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
            <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
          </a>
        </div>
      </div>

      <div class="block">
        <div class="title-bar">
          <h1 class="page-title">Meet the Team</h1>
        </div>
      </div>

      <a id="main-content" tabindex="-1"></a>

      <div class="block">
        <article>
          <div class="body">
            <section>
              <div class="text">
                <p>{{ page.content }}</p>
              </div>
            </section>
          </div>
        </article>
      </div>

  </main>

</div>
