{{ attach_library('alkaline/article') }}
{{ attach_library('alkaline/branding') }}
<div class="page maintenance">

  <div class="layer header fixed" role="banner">
    <div>

      <div class="super-region header">
        <div class="region header">
          <div class="block">
            <div class="branding">
              <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
                <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <main class="layer main" role="main">

    <section id="content" class="region content">

      <div class="block">
        <div class="title-bar">
          <h1 class="page-title">Site Under Maintenance</h1>
        </div>
      </div>

      <a id="main-content" tabindex="-1"></a>

      <div class="block">
        <article>
          <div class="body">
            <section>
              <div class="text">
                <p>{{ page.content }}</p>
              </div>
            </section>
          </div>
        </article>
      </div>

  </main>

</div>
