<div class="page">

  {% include '@alkaline/layout/includes/header.html.twig' %}

  {% if page.admin %}
    <div class="layer admin">
      <section class="region admin content-width">
        {{ page.admin }}
      </section>
    </div>
  {% endif %}

  {% if page.lead %}
    <div class="layer lead full-page">
      <section class="region lead">
        {{ page.lead }}
      </section>
    </div>
  {% endif %}

  <main class="layer main" role="main">

    {% if page.sidebar_first %}
      <section id="sidebar-first" class="region sidebar sidebar-first">
        {{ page.sidebar_first }}
      </section>
    {% endif %}

    <section id="content" class="region content">
      <a id="main-content" tabindex="-1"></a>
      {{ page.content }}
    </section>

    {% if page.sidebar_second %}
      <section id="sidebar-second" class="region sidebar sidebar-second">
        {{ page.sidebar_second }}
      </section>
    {% endif %}

  </main>

  {% include '@alkaline/layout/includes/footer.html.twig' %}

</div>
