<div class="page">

  {% include '@alkaline/layout/includes/header.html.twig' %}

  {% if page.admin %}
    <div class="layer admin">
      <div class="region admin content-width">
        {{ page.admin }}
      </div>
    </div>
  {% endif %}

  {% if page.lead %}
    <div class="layer lead full-page">
      <div class="region lead">
        {{ page.lead }}
      </div>
    </div>
  {% endif %}

  <main class="layer main" role="main">

    {% if page.sidebar_first %}
      <div id="sidebar-first" class="region sidebar sidebar-first">
        {{ page.sidebar_first }}
      </div>
    {% endif %}

    <div id="content" class="region content">
      <a id="main-content" tabindex="-1"></a>
      {{ attach_library('alkaline/article') }}
      <article>
        <div class="section">
          <div class="row">
            <div class="text">
              <p>{{ page.content }}</p>
            </div>
          </div>
        </div>
      </article>
    </div>

    {% if page.sidebar_second %}
      <div id="sidebar-second" class="region sidebar sidebar-second">
        {{ page.sidebar_second }}
      </div>
    {% endif %}

  </main>

  {% include '@alkaline/layout/includes/footer.html.twig' %}

</div>
